
/* CSS Styles Sheet */



body {background-color:#DFBBB1;
       font-family: Geneva, Ariel;}

.header {font-size: 5em;
         text-align: center;
         border-bottom: solid;}
         
img {display: block;
     margin-left: auto;
      margin-right: auto;
      border: solid thin black;
      margin-top: 20px;
         }
         
h1 {text-align: center;}

h2{text-align: center;}

p {  display: block;
      padding-left: 300px;
    padding-right: 300px;

 }
 
 footer {display: block;
         border: solid thin black;}
         
footer p {text-align: center;
          font-weight: bold;}
          
          
 @media only screen and (max-width: 480px) {
    
    p { padding-right: 20px; padding-left: 20px;}
    
    footer p{text-align: center;}
       


    }       
